<configuration>
    <property name="LOG_FILE" value="application.log"/>

    <!-- Logstash 로 전송할 Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <!-- LogstashEncoder 를 사용하면, 로그를 자동으로 json 형태로 바꿔준다. -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file> <!-- application.log 라는 이름으로 로그파일 생성 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- %d 부분에는 "yyyy-MM-dd(년도-월-일)"이 들어간다. => 이 경우, 일 단위로 롤링(분할) -->
            <!-- "yyyy-MM-dd_HH-mm" 과 같이하면, 분 단위로 롤링(분할)되도록 할 수 있다. -->
            <!-- 참고) 롤링(분할)이 되어서 생성되는 파일은 크기가 클수있기에 압축(gzip)해두는 것이 좋다. -->
            <fileNamePattern>application.%d{yyyy-MM-dd_HH-mm}.log.gz</fileNamePattern>
            <!-- 30개 까지 보관하겠다. (넘어가면 자동으로 logback에 의해서 삭제된다) -->
            <!-- "yyyy-MM-dd_HH-mm" 로 하고, maxHistory 를 5로 하면, 5개까지만 보관된다. -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>